.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Pantone Cards */
.signUpContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.pantoneCard h3 {
  font-size: 1.25rem;
}

.pantoneCard h4 {
  font-size: 1rem;
}

.pantoneCard {
  width: 9rem;
  height: 15rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 1rem;
}

.swatchColour {
  width:100%;
  height: 70%;
  border-radius: 0.5rem;
}

/* Pantone Colours */
.pink{
  background-color: #ae487b;
}

.lightPink{
  background-color: #ea97c1;
}

.blue{
  background-color: #245984;
}

.lightBlue{
  background-color: #70abdc;
}

.green{
  background-color: #142f08;
}

.lightGreen{
  background-color: #61b968;
}

.yellow{
  background-color: #fae86d;
}

.orange{
  background-color: #ee9033;
}

.purple{
  background-color: #461e71;
}

.burgundy{
  background-color: #551110;
}

.red{
  background-color: #b62624;
}

.lightPurple{
  background-color: #b79cdb;
}